body {
  background: #282c34;
  max-width: 600px;
  margin: auto;
  font-family: sans-serif;
  color: #fff;
}

#header {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
#header:link {
  color: black;
}
#header:hover {
  color: grey;
}

.title {
  color: black;
  text-decoration: none;
  font-size: 58px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #fff;
}
.title:hover {
  color: grey;
}

nav {
  padding-top: 85px;
  list-style-position: inside;
  /*position: relative;*/
}
li.NAV-1 {
    border-top: 4px solid #6CE0F1;
}
li.NAV-2 {
    border-top: 4px solid #FB4485;
}
li.NAV-3 {
    border-top: 4px solid #e5e500;
}
li.NAV-4 {
    border-top: 4px solid #FDA333;
}
li.NAV-5 {
    border-top: 4px solid #C2E15F;
}
li.NAV-6 {
    border-top: 4px solid #D3A4F9;
}
li.NAV-1:hover {
    background-color: #6CE0F1;
}
li.NAV-2:hover {
    background-color: #FB4485;
}
li.NAV-3:hover {
    background-color: #e5e500;
}
li.NAV-4:hover {
    background-color: #FDA333;
}
li.NAV-5:hover {
    background-color: #C2E15F;
}
li.NAV-6:hover {
    background-color: #D3A4F9;
} 
ul {
    /*padding-inline-start: 0px;*/
  list-style-position: inside;
  padding: 0;
  height: 2em;
    /*list-style: none;*/
    /*float: left;*/
}
li {
  margin: .5em 0;
  font-size: 13px;
  list-style-type: none;
  margin-bottom:20px;
  padding:9px;
  text-align: center;
  display: inline-block;
}

nav-link:hover {  
  color: grey;
}

footer {
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
  font-size: 13px;
}

.current {
  text-decoration: none;
  color: grey;
}
.nav-link {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
.link {
  text-decoration: none;
  color: #fff;
}
.current:hover {
  color: black;
}
.link:hover {
  color: grey;
}
#tableContaier {
  display: table;
}
#tableRow {
  display: table-row;
}
#content {
  padding-left: 50px;
  padding-right: 50px;
  min-height: 300px;
}
h2 {
  text-align: center;
  font-size: 21px;
  font-family: sans-serif;
  color: #fff;
}
h3 {
  text-align: center;
  font-size: 17px;
  font-family: sans-serif;
  color: #fff;
}
h4 {
  text-align: center;
  font-family: sans-serif;
  color: #fff;
}
p {
  padding-bottom: 30px;
}
.text {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  line-height: 25px;
}
.italic {
  font-style: italic;
}
.web-links {
  color: black;
  font-weight: 400;
  text-decoration: none;
  color: #E9BC3F;
}

a {
  color: black;
  font-weight: 400;
  text-decoration: none;
  color: #E9BC3F;
}

.sign-up-button {
  text-align: center;
}
.image-text {
  font-size: 13px;
  padding-top: 30px;
  font-weight: 300;
  color: #333333;
  line-height: 25px;
}

.talk-heading {
  padding-bottom:10px;
}
.talk-dates {
  font-size: 13px;
  font-weight: 300;
  color: grey;
  text-align: center;
  line-height: 20px;
  padding-bottom: 30px;
}
.talk-synopsis {
  color:#333;
  font-size:14px;
  line-height:21px;
  font-weight:300;
}
.talk-synopsis p {
  padding-bottom:15px;
}
.thumbnail {
  width: 150px;
  float: left;
}
.talk {
  position:relative;
  overflow:hidden;
  text-decoration:none;
  display:block;
  padding-bottom:30px;
}
.talk+.talk {
  padding-top:30px;
}
.talk+.talk:before {
  position:absolute;
  top:0;
  left:15%;
  right:15%;
  height:1px;
  background:#eee;
  content: "";
}
.talk h3 {
  color:#333;
  font-size:17px;
  line-height:21px;
  margin-bottom:10px;
  padding-bottom:0;
}
.talk h3,
.talk p {
  margin-left:170px;
}
.talk .video-text {
  font-size: 14px;
  font-weight: 300;
  color: #333;
  line-height: 20px;
  padding-bottom:0;
  margin-bottom: 10px;
}
.talk .dates {
  font-size: 11px;
  font-weight: 300;
  color: #aaa;
  padding-bottom:0;
}

.videos {
  padding-bottom: 20px;
}