<header id="header">
  <a class="title" href="/">ATHIELEN</a>

  <nav>
    <ul>
      
      <li class="NAV-1">
        <a class="nav-link" href="/">home</a>
      </li>
      
      <li class="NAV-2">
        <a class="nav-link" href="/blog">posts</a>
      </li>
      
      <li class="NAV-3">
        <a class="nav-link" href="/homelab">homelab</a>
      </li>

      <li class="NAV-4">
        <a class="nav-link" href="/files/anthony_thielen_2019_01_resume_website.pdf">resume</a>
      </li>
      
      <li class="NAV-5">
        <a class="nav-link" href="/about-me">about</a>
      </li>

      <li class="NAV-6">
        <a class="nav-link" href="/contact">contact</a>
      </li>
      
    </ul>
  </nav>
</header>