<header id="header">
  <a class="title" href="/">ATHIELEN</a>
  <nav>
    <ul class="NAV">       
      <li class="NAV-1">
        <a class="nav-link" href="/">home</a>
      </li> 
      <li class="NAV-2">
        <a class="nav-link" href="https://blog.anthonythielen.com">posts</a>
      </li>  
      <li class="NAV-3">
        <a class="nav-link" href="https://studio.anthonythielen.com">studio</a>
      </li>      
      <li class="NAV-4">
        <a class="nav-link" href="/files/anthony_thielen_resume_website.pdf">resume</a>
      </li>  
      <li class="NAV-5">
        <a class="nav-link" href="https://github.com/athielen">github</a>
      </li>
      <li class="NAV-6">
        <a class="nav-link" href="/contact">contact</a>
      </li>
    </ul>
  </nav>
</header>
