---
layout: default
title: Anthony Thielen's Blog
---

<h2>Posts</h2>
<br>

<div class="text">
  <h4>Coming soon.</h4>
</div>

<!-- <div id="content">
  {% if site.posts.size > 0 %}
      {% for post in site.posts%}
        <a href="{{ post.url }}" class="web-links">
          <h4 class="list-group-item-heading h6">{{ post.title }}
            <small class="blog-text-muted"> &ndash;
              <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
            </small>
        	</h4>
        </a>
      {% endfor %}
  {% else %}
    <p>No posts found.</p>
  {% endif %}
</div> -->
